In [1]:
from __future__ import division
import numpy as np
import pandas as pd
from group_fairness import gFairscore
from individual_fairness import iFairscore
from pyod.utils.data import evaluate_print

In [2]:
# load data
df=pd.read_csv('/Users/Gargi/Desktop/RESEARCH/DATA/InternetAds.csv')
print(df.shape)
df.head()

(1966, 1556)

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V1547,V1548,V1549,V1550,V1551,V1552,V1553,V1554,V1555,Class
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,outlier
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,outlier
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,outlier
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,outlier
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,outlier

In [3]:
# Collecting sensitive attributes and Target
col=list(df.columns)
S_l=[]
s=[]
j=1
for i in range(0,len(col)):
    if df.columns[i]=='S' + str(j):
        S_l.append('S' + str(j))
        j+=1
        s.append(i)
S_d=df[S_l]
S=S_d.to_numpy()

T=df['Class'].replace(['inlier', 'outlier'], [0, 1], inplace=False)
S_l

[]

In [4]:
df_ns=df
S_l.append('Class')
df_ns.drop(S_l, axis=1, inplace=True)
df_ns.shape

(1966, 1555)

In [5]:
#Load scores
df1=pd.read_csv('/Users/Gargi/Desktop/RESEARCH/IP_DATA/INTERNETADS/INTERNETADS_IDOS_CSV.csv')
df2=pd.read_csv('/Users/Gargi/Desktop/RESEARCH/IP_DATA/INTERNETADS/INTERNETADS_KNN_CSV.csv')
df3=pd.read_csv('/Users/Gargi/Desktop/RESEARCH/IP_DATA/INTERNETADS/INTERNETADS_LIC_CSV.csv')
df4=pd.read_csv('/Users/Gargi/Desktop/RESEARCH/IP_DATA/INTERNETADS/INTERNETADS_LOF_CSV.csv')
df5=pd.read_csv('/Users/Gargi/Desktop/RESEARCH/IP_DATA/INTERNETADS/INTERNETADS_LOOP_CSV.csv')
df6=pd.read_csv('/Users/Gargi/Desktop/RESEARCH/IP_DATA/INTERNETADS/INTERNETADS_SOD_CSV.csv')
df1.head()

,IDOS5,IDOS10,IDOS20,IDOS30,IDOS45,IDOS60,IDOS80,IDOS100
0,1.508937,0.401730,0.779815,0.751856,0.720952,2.427140,2.696792,2.589370
1,1.459947,1.663176,0.789633,0.720714,0.691494,2.523338,2.460652,2.395784
2,4.596446,2.427976,0.886806,1.243774,0.883691,0.807930,1.306335,1.329736
3,5.034001,1.285114,0.671205,0.473023,0.373938,0.718632,0.750556,0.718094
4,0.619617,0.751808,0.368956,0.257636,0.435798,0.395560,0.407197,0.392861

In [61]:
# Dataset: 1->IDOS, 2->kNN, 3->LIC, 4->LOF, 5->LoOP, 6->SOD
# Parameter: 0->5, 1->10, 2->20, 3->30, 4->45, 5->60, 6->80, 7->100
Scores=df6.transpose()
X=Scores.to_numpy()

### Group fairness

In [7]:
gFairscore(X[0],S)

ZeroDivisionError: division by zero

In [ ]:
gFairscore(X[1],S)

In [9]:
gFairscore(X[2],S)

55.96284461834148

In [10]:
gFairscore(X[3],S)

60.985092478977094

In [11]:
gFairscore(X[4],S)

60.84417333987767

In [12]:
gFairscore(X[5],S)

52.73757945750913

In [13]:
gFairscore(X[6],S)

55.98325464339905

In [14]:
gFairscore(X[7],S)

54.23981064146392

### Individual fairness

In [15]:
iFairscore(X[0], df_ns)

62809130.09815795

In [16]:
iFairscore(X[1], df_ns)

KeyboardInterrupt:

In [ ]:
iFairscore(X[2], df_ns)

In [ ]:
iFairscore(X[3], df_ns)

In [ ]:
iFairscore(X[4], df_ns)

In [ ]:
iFairscore(X[5], df_ns)

In [ ]:
iFairscore(X[6], df_ns)

In [ ]:
iFairscore(X[7], df_ns)

### IF complete data

In [62]:
df=pd.read_csv('/Users/Gargi/Desktop/RESEARCH/DATA/InternetAds.csv')
df.drop('Class', axis=1, inplace=True)

In [63]:
evaluate_print("IF", T, X[0])
iFairscore(X[0], df)

IF ROC:0.569, precision @ rank n:0.2584

600.3933048013731

In [64]:
evaluate_print("IF", T, X[1])
iFairscore(X[1], df)

IF ROC:0.5538, precision @ rank n:0.2337

566.929300619065

In [65]:
evaluate_print("IF", T, X[2])
iFairscore(X[2], df)

IF ROC:0.5703, precision @ rank n:0.2609

494.28432115928746

In [66]:
evaluate_print("IF", T, X[3])
iFairscore(X[3], df)

IF ROC:0.5481, precision @ rank n:0.2717

465.8132686918347

In [67]:
evaluate_print("IF", T, X[4])
iFairscore(X[4], df)

IF ROC:0.537, precision @ rank n:0.2745

440.20702658975415

In [68]:
evaluate_print("IF", T, X[5])
iFairscore(X[5], df)

IF ROC:0.5241, precision @ rank n:0.2452

443.4275220042684

In [69]:
evaluate_print("IF", T, X[6])
iFairscore(X[6], df)

IF ROC:0.5379, precision @ rank n:0.263

409.215614592509

In [70]:
evaluate_print("IF", T, X[7])
iFairscore(X[7], df)

IF ROC:0.5676, precision @ rank n:0.2609

396.61734359702893

### IF with Target

In [29]:
iFairscore(T, df)

300.7290144499452

In [30]:
iFairscore(T, df_ns)

300.7290144499452