In [32]:
import numpy as np
import pandas as pd
from scipy.stats import rankdata
import math

In [21]:
# load data
df=pd.read_csv('/Users/Gargi/Desktop/RESEARCH/DATA/St-Mat.csv')
X=df.drop(['Class'], axis=1)
Y=df['Class'].replace(['inlier', 'outlier'], [0, 1], inplace=False)
print(df.shape)
df.head()

(395, 33)

,S1,S2,age,S3,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,Class
0,1,0,18,0,0,0,4,4,0,4,...,3,4,1,1,3,6,5,6,6,inlier
1,1,0,17,0,0,1,1,1,0,2,...,3,3,1,1,3,4,5,5,6,inlier
2,1,0,15,0,1,1,1,1,0,2,...,3,2,2,3,3,10,7,8,10,inlier
3,1,0,15,0,0,1,4,2,1,3,...,2,2,1,1,5,2,15,14,15,inlier
4,1,0,16,0,0,1,3,3,2,2,...,3,2,1,2,5,4,6,10,10,inlier

In [22]:
a=np.array([range(X.shape[0])])
c=a.reshape(X.shape[0],1)
X_idx=np.hstack((c, X.to_numpy()))

In [23]:
# Fair Outlier Detector
import math

    
def dist_arr(X):
    summ = 0
    d_arr = np.zeros([X.shape[0], 1])
    for i in range(X.shape[0]):
        for j in range(X.shape[0]):
            summ = summ + math.dist(X[i], X[j])
        d_arr[i] = (summ/(X.shape[0]))
        summ = 0
    idx = np.argmax(d_arr)
    maxi = np.max(d_arr)
    return maxi, idx
    
    
def fit(X):
    dist = np.zeros([X.shape[0], 1])
    for i in range(X.shape[0]):
        maxi, idx = dist_arr(X[:, 1:])
        a_idx = X[idx, 0]
        b=int(a_idx)
        dist[b] = maxi
        X = np.delete(X, (idx), axis=0)
        print(i)
    return dist.ravel()

In [24]:
fode = fit(X_idx)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394

In [25]:
from pyod.utils.data import evaluate_print

evaluate_print("FOD", Y, fode)

FOD ROC:0.6513, precision @ rank n:0.15

In [39]:
XX = X.to_numpy()
summ=0
dist = np.zeros(XX.shape[0])
r = rankdata(fode)
for i in range(XX.shape[0]):
    for j in range(XX.shape[0]):
        d_diff = math.dist(XX[i], XX[j])
        r_diff = abs(r[i] - r[j])
        d_r = abs(d_diff - r_diff)
        summ = summ + d_r
    dist[i] = (summ/(XX.shape[0]))
    summ=0
ifs=sum(dist)/XX.shape[0]
ifs

118.53036620187049