#### Author: Gargi Mishra and Rajeev Kumar

#### iFselect ODE member selection

In [1]:
import numpy as np
import pandas as pd
from iF_Select import iFselect

In [2]:
# load data and outlier score matrix

data=pd.read_csv('/Users/Gargi/Desktop/RESEARCH/DATA/Wiki4HE.csv')
df_score=pd.read_csv('/Users/Gargi/Desktop/RESEARCH/DATA_SCORE/Wiki4HE_SCORE.csv')
print(data.shape, df_score.shape)
data.head()

(913, 50) (913, 24)

,AGE,S1,S2,PhD,YEARSEXP,S3,PU1,PU2,PU3,PEU1,...,Inc1,Inc2,Inc3,Inc4,Exp1,Exp2,Exp3,Exp4,Exp5,Class
0,40,0,2,1,14,1,4,4,3,5,...,5,5,5,5,4,4,4,1,2,inlier
1,42,0,5,1,18,1,2,3,3,4,...,4,4,3,4,2,2,4,2,4,inlier
2,37,0,4,1,13,1,2,2,2,4,...,5,3,5,5,2,2,2,1,3,inlier
3,40,0,4,0,13,1,3,3,4,3,...,3,4,4,3,4,4,3,3,4,inlier
4,51,0,0,0,8,1,4,3,5,5,...,5,5,4,4,5,5,5,4,4,outlier

In [3]:
ifs = iFselect()
ifs.fit(data, df_score)

Fitting...
Initial iFairScore:  281.7736120856643
Final iFairScore:  281.7736120856643
Success

In [4]:
ifs.selected_members()

['LOOP100']

In [5]:
ifs.print_results()

iFselect ROC:0.6133, precision @ rank n:0.232