In [1]:
import numpy as np
import pandas as pd
from individual_fairness import iFairscore
from pyod.utils.data import evaluate_print

In [2]:
# load data
df=pd.read_csv('/Users/Gargi/Desktop/RESEARCH/DATA/Wiki4HE.csv')
T=df['Class'].replace(['inlier', 'outlier'], [0, 1], inplace=False)
df.drop('Class', axis=1, inplace=True)
print(df.shape)
df.head()

(913, 49)

,AGE,S1,S2,PhD,YEARSEXP,S3,PU1,PU2,PU3,PEU1,...,BI2,Inc1,Inc2,Inc3,Inc4,Exp1,Exp2,Exp3,Exp4,Exp5
0,40,0,2,1,14,1,4,4,3,5,...,3,5,5,5,5,4,4,4,1,2
1,42,0,5,1,18,1,2,3,3,4,...,2,4,4,3,4,2,2,4,2,4
2,37,0,4,1,13,1,2,2,2,4,...,1,5,3,5,5,2,2,2,1,3
3,40,0,4,0,13,1,3,3,4,3,...,3,3,4,4,3,4,4,3,3,4
4,51,0,0,0,8,1,4,3,5,5,...,5,5,5,4,4,5,5,5,4,4

In [3]:
df1=pd.read_csv('/Users/Gargi/Desktop/RESEARCH/VBA\VBA_DATA_FINAL/WIKI4HE.csv')
Scores=df1.transpose()
X=Scores.to_numpy()
df1.head()

          V       VA1       VA2         B       BA1       BA2
0  0.206459  0.202504  0.202504  0.239775  0.202504  0.202504
1  0.221585  0.203133  0.203133  0.342045  0.203133  0.203133
2  0.426062  0.416876  0.416876  0.429328  0.416876  0.416876
3  0.224493  0.212877  0.212877  0.271774  0.212877  0.212877
4  0.433225  0.475168  0.475168  0.415518  0.475168  0.475168

In [4]:
evaluate_print("IF", T, X[0])
iFairscore(X[0], df)

IF ROC:0.5991, precision @ rank n:0.208

287.68780455485376

In [5]:
evaluate_print("IF", T, X[1])
iFairscore(X[1], df)

IF ROC:0.6001, precision @ rank n:0.2

287.6769930898142

In [6]:
evaluate_print("IF", T, X[2])
iFairscore(X[2], df)

IF ROC:0.6001, precision @ rank n:0.2

287.6769930898142

In [7]:
evaluate_print("IF", T, X[3])
iFairscore(X[3], df)

IF ROC:0.5887, precision @ rank n:0.192

287.684595617027

In [8]:
evaluate_print("IF", T, X[4])
iFairscore(X[4], df)

IF ROC:0.6001, precision @ rank n:0.2

287.6769930898142

In [9]:
evaluate_print("IF", T, X[5])
iFairscore(X[5], df)

IF ROC:0.6001, precision @ rank n:0.2

287.6769930898142